.cre-bar{
    display: flex;
    justify-content: space-between;
    margin: 12rem auto 0rem auto;
    max-width: 1100px;

}

.cre-title{
    text-transform: uppercase;
    font-size: 50px;
}


.cre-btn button{
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 0.7rem 2.4rem 0.7rem 2.4rem;
    letter-spacing: 4px;
    font-family: 'Alata', sans-serif;
    border: none;
    outline: none;
    border: 2px solid hsl(0, 0%, 55%);
}

.cre-btn button:hover{
    cursor: pointer;
    background-color: black;
    border: 2px solid black;
    color: white;
    }

.cre-btn button:active{
    transform: scale(96%);
}

.grid-ground{
    margin: 5rem auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 30px;
    row-gap: 25px;
    position: relative;
}

.grid-ground:hover{
    cursor: default;
}

.grid-ground div{
     height: 450px;
     cursor: pointer;
}

.img-text{
    position:absolute;
    text-transform: uppercase;
    color: white;
    margin-top: 23.8rem;
    margin-left: 2.6rem;
    font-size: 32px;
    line-height: 1;
    text-align: left;
    width: 180px;
    height: 25px !important;
}

.grid-ground div:hover .img-text{
    color: black;
}

.earth{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.767)), url('../../images/desktop/image-deep-earth.jpg');
    background-blend-mode: darken;
    background-size: cover;
    transition: 0.07s;
}

.earth:hover{
    background: rgba(255, 254, 254, 0.74) url('../../images/desktop/image-deep-earth.jpg');
    background-blend-mode: lighten;
    background-size: cover;
}



.Arcade{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/desktop/image-night-arcade.jpg');
    background-blend-mode: darken;
    background-size: cover;
    transition: 0.07s;
}

.Arcade:hover{
    background: rgba(255, 254, 254, 0.74) url('../../images/desktop/image-night-arcade.jpg');
    background-blend-mode: lighten;
    background-size: cover;
}


.Soccer{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/desktop/image-soccer-team.jpg');
    background-blend-mode: darken;
    background-size: cover;
    transition: 0.07s;
}

.Soccer:hover{
    background: rgba(255, 254, 254, 0.74) url('../../images/desktop/image-soccer-team.jpg');
    background-blend-mode: lighten;
    background-size: cover;
}

.Grid{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/desktop/image-grid.jpg');
    background-blend-mode: darken;
    background-size: cover;
    transition: 0.07s;
}


.Grid:hover{
    background: rgba(255, 254, 254, 0.74) url('../../images/desktop/image-grid.jpg');
    background-blend-mode: lighten;
    background-size: cover;
}


.Fromabove{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/desktop/image-from-above.jpg');
    background-blend-mode: darken;
    background-size: cover;
    transition: 0.07s;
}


.Fromabove:hover{
    background: rgba(255, 254, 254, 0.74) url('../../images/desktop/image-from-above.jpg');
    background-blend-mode: lighten;
    background-size: cover;
}

.Pocket{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/desktop/image-pocket-borealis.jpg');
    background-blend-mode: darken;
    background-size: cover;
    transition: 0.07s;
}


.Pocket:hover{
    background: rgba(255, 254, 254, 0.74) url('../../images/desktop/image-pocket-borealis.jpg');
    background-blend-mode: lighten;
    background-size: cover;
}

.Curiosity{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/desktop/image-curiosity.jpg');
    background-blend-mode: darken;
    background-size: cover;
    transition: 0.07s;
}

.Curiosity:hover{
    background: rgba(255, 254, 254, 0.74) url('../../images/desktop/image-curiosity.jpg');
    background-blend-mode: lighten;
    background-size: cover;
}

.Fisheye{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/desktop/image-fisheye.jpg');
    background-blend-mode: darken;
    background-size: cover;
    transition: 0.07s;
}


.Fisheye:hover{
    background: rgba(255, 254, 254, 0.74) url('../../images/desktop/image-fisheye.jpg');
    background-blend-mode: lighten;
    background-size: cover;
}




@media screen and (max-width: 1140px) {
    .cre-bar {
        margin: 12rem 3.5rem 0rem 3.5rem;

    }

    .grid-ground{
        margin: 5rem 3.5rem;
    }
  
    .img-text{
        position:absolute;
        text-transform: uppercase;
        color: white;
        margin-top: 23.8rem;
        margin-left: 1.8rem;
        font-size: 32px;
        line-height: 1;
        text-align: left;
        width: 180px;
        height: 25px !important;
    }
}


  /*.grid-ground{
        margin: 5rem auto;
        max-width: 1100px;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 30px;
        row-gap: 25px;
        position: relative;
    }
*/
@media screen and (max-width: 992px) {

    .img-text{
        position:absolute;
        text-transform: uppercase;
        color: white;
        margin-top: 23.8rem;
        margin-left: 1rem;
        font-size: 28px;
        line-height: 1;
        text-align: left;
        width: 180px;
        height: 25px !important;
    }

    .grid-ground{
        margin: 5rem 3.5rem;
        grid-template-columns: auto auto;
    
    }

    .cre-title{
        margin: auto;
    }

    .mobile-btn{
        display: flex;
        justify-content: center;
        margin: auto;
        
    }

    .cre-btn button{
        padding: 1rem 5rem 1rem 5rem;
        font-size: 20px;
    }

}


@media screen and (max-width: 880px) {

    .img-text{
        position:absolute;
        text-transform: uppercase;
        color: white;
        margin-top: 23.8rem;
        margin-left: 1rem;
        line-height: 1;
        text-align: left;
        width: 180px;
        height: 25px !important;
    }


  


}


@media screen and (max-width: 700px) {

    .grid-ground{
        grid-template-columns: auto ;
    
    }

    .grid-ground div{
       height: 250px;
    
   }

   .earth{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.767)), url('../../images/mobile/image-deep-earth.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    transition: 0.07s;
    }

    .earth:hover{
        background: rgba(255, 254, 254, 0.74) url('../../images/mobile/image-deep-earth.jpg');
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
    }

    .img-text{
        position:absolute;
        text-transform: uppercase;
        color: white;
        margin-top: 11rem;
        margin-left: 1rem;
        line-height: 1;
        text-align: left;
        width: 160px;
        height: 25px !important;
    }

    .Arcade{
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/mobile/image-night-arcade.jpg');
        background-blend-mode: darken;
        background-size: cover;
        transition: 0.07s;
        background-position: center;
    }
    
    .Arcade:hover{
        background: rgba(255, 254, 254, 0.74) url('../../images/mobile/image-night-arcade.jpg');
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
    }
    
    
    .Soccer{
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/mobile/image-soccer-team.jpg');
        background-blend-mode: darken;
        background-size: cover;
        transition: 0.07s;
        background-position: center;
    }
    
    .Soccer:hover{
        background: rgba(255, 254, 254, 0.74) url('../../images/mobile/image-soccer-team.jpg');
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
    }
    
    .Grid{
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/mobile/image-grid.jpg');
        background-blend-mode: darken;
        background-size: cover;
        transition: 0.07s;
        background-position: center;
    }
    
    
    .Grid:hover{
        background: rgba(255, 254, 254, 0.74) url('../../images/mobile/image-grid.jpg');
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
    }
    
    
    .Fromabove{
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/mobile/image-from-above.jpg');
        background-blend-mode: darken;
        background-size: cover;
        transition: 0.07s;
        background-position: center;
    }
    
    
    .Fromabove:hover{
        background: rgba(255, 254, 254, 0.74) url('../../images/mobile/image-from-above.jpg');
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
    }
    
    .Pocket{
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/mobile/image-pocket-borealis.jpg');
        background-blend-mode: darken;
        background-size: cover;
        transition: 0.07s;
        background-position: center;
    }
    
    
    .Pocket:hover{
        background: rgba(255, 254, 254, 0.74) url('../../images/mobile/image-pocket-borealis.jpg');
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
    }
    
    .Curiosity{
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/mobile/image-curiosity.jpg');
        background-blend-mode: darken;
        background-size: cover;
        transition: 0.07s;
        background-position: center;
    }
    
    .Curiosity:hover{
        background: rgba(255, 254, 254, 0.74) url('../../images/mobile/image-curiosity.jpg');
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
    }
    
    .Fisheye{
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.63)), url('../../images/mobile/image-fisheye.jpg');
        background-blend-mode: darken;
        background-size: cover;
        transition: 0.07s;
        background-position: center;
    }
    
    
    .Fisheye:hover{
        background: rgba(255, 254, 254, 0.74) url('../../images/mobile/image-fisheye.jpg');
        background-blend-mode: lighten;
        background-size: cover;
        background-position: center;
    }
}