.main-container{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.pictureText{
    margin-top: 10rem;
}

.vrUser{
    margin-left: -25rem;
}
.leader-container{
    color: black;
    background-color: white;
    max-width: 640px;
    position: absolute;
    padding: 6.5rem;
    bottom: -5rem;
    margin-left: 13rem;
  
}

.main-title{
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 1rem;
    text-align: left;
}

.main-content{
    font-family: 'Alata', sans-serif;
    text-align: left;
    color: hsl(0, 0%, 55%);
}