.navBar{
    display: flex;
    justify-content: space-between;
    margin: 4.25rem 11rem;
    align-items: center;
    
}

.navAbout{
    display: flex;
    color: hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
    margin-right: -3rem;
}

.navAbout a{
    /*margin-left: 2.15rem;*/
    padding-left: 1.07rem;
    padding-right: 1.07rem;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-family: 'Alata', sans-serif;
}

.navAbout div{
    text-align: center;
    align-items: center;
    position: relative;
}

.navAbout a:hover:before{
  content : "";
  position: absolute;
  top     : 28px;
  left    : 33%;
  bottom  : 0;
  height  : 1px;
  width   : 30%;  
  border-bottom: 2px solid white;

}