@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}

.App {
    display: flex;
    flex-direction:column;
    text-align: center;
}